html,body,div {
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden; 
	color: #1abc9c;
	font-family: sans-serif;
}
.clear {
	clear: both;
}
.box {
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	float: left;
}
.box-half {
	max-width: 49.7%;
}
.box-wrapper {
	padding: 10px;
	text-align: center;
}
.box-title {
	padding: 5px 10px;
}
.btn-go {
	width: 20px;
	height: 20px;
	float: right;
	margin: 5px;
}


.btn {
	color: #ffffff;
	background-color: #1abc9c;
	font-size: 16.996px;
	line-height: 20px;
	padding: 12px 18px 13px;
	-webkit-backface-visibility: hidden;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 4px;
}
.btn:hover, .btn:focus{
	background-color: #48c9b0;
	color: #ffffff;
	outline: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

input {
	color: #2ecc71;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #2ecc71;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	padding: 8px 5px;
	height: 35px;
	width: 35px;
	text-indent: 6px;
}
.input-item {
	height: 37px;
}

.input-title {
	float: left;
	height: 35px;
	line-height: 37px;
	width: 96px;
	text-align: left;
}
.input-button {
	float: right;
}
#box0 {
	position: absolute;
	width: 260px;
	right: 0;
	display: none;	
}
#menu {
	position: absolute;
	right: 0;
	z-index: 30;
}
@media (max-width: 768) {
	.box-half {
		max-width: 100%;
	}
}